name: Lint

on: [push, pull_request]

jobs:
  # https://www.npmjs.com/package/@eslint/github-action
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - name: Install modules
        run: npm ci
      - name: Run ESLint
        run: npm run lint
